/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {          /* changed from body in original reset CSS */
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End Reset CSS */
/* Begin Site Styles */

/* Using modular scale http://modularscale.com/?18px&1.667 */

html {
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100;
	-ms-text-size-adjust: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.125em; /* 18px / 16px = 1.125*/
	line-height: 1.222em; /* 22px / 18px = about 120%*/
	padding-top: 2.444em; /* two lines of padding on top and bottom */
	padding-bottom: 2.444em;
	padding-left: 1.222em; /* one line of padding on each side */
	padding-right: 1.222em;
}
h1 {
	font-size: 2.778em; /* 50.02px / 18px =  2.778 */
	line-height: 1.319em; /* 3 gridlines of 22px; 66px / 50.02px = 1.319 */
	text-align: center;
}
p {
	text-align: left;
	/* text-indent: 2em; */ /* Don't indent if you have empty space b/w paragraphs*/
}
p, figure {
	padding-bottom: 1.222em; /* = 1 line-height */
}

/* Responsive Images */
img {
	display: block;
	max-width: 100%;
}

/* For larger screens */
@media screen and (min-width: 990px) {
	html { font-size: 1.8em; }
}
